.sidebar {
  background: #f1f1f1;
  width: 20%;
  z-index: 9;
}

.sidebarHeader {
  margin: 2rem;
}

.historyList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
}

.historyItem {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1rem;
  width: 87%;
}

.historyItemDeleteBtn {
  border-radius: 50%;
  border: 1px solid grey;
  display: inline-block;
  height: 1.5rem;
  padding: 0.2rem;
  width: 1.5rem;
}
