.app {
  text-align: center;
  display: flex;
  min-height: 105rem;
}

.appLink {
  color: #003948;
  cursor: pointer;
}

.appLink:hover {
  color: #864fd8;
  border-color: #864fd8;
  transition: all .25s ease;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

